/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');

/* Design related to the overall page */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(197, 202, 201);
}

/* Log info */
#logo {
    font-size: 4.7em;
    font-family: "Jacquard 12", system-ui;
    display: flex;
    justify-content: space-evenly;
}

/* Heading for rules and ships board container */
h2 {
    font-size: 3em;
    display: flex;
    justify-content: space-evenly;
    font-family: "Jacquard 12", system-ui;
}

/* Container for victories and defeats */
.victory-board {
    border: 2px solid darkmagenta;
    border-width: 3px;
    margin: 10px auto;
    width: 285px;
    font-size: 1rem;
    max-height: 100px;
    display: flex;
    justify-content: space-evenly;
}

#start {
    background-color: rgb(197, 202, 201);
    color: darkmagenta;
    border-color: rgb(202, 206, 205);
    box-shadow: 0px;
}

/* Game board 1 related items */
.game-board {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Grid related items */
.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 24px);
    grid-template-rows: repeat(10, 24px);
    gap: 5px;

}


.grid-container>div {
    background-color: #ddd;
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-a {
    display: flex;
}

.item-a>div {
    border: 1px solid black;
    width: 24px;
    height: 24px;
    background-color: blue;
    color: blue;
}

/* Heading for ships board container */
h2 {
    display: flex;
    justify-content: space-evenly;

}

/* Container board about ships left */
.ships-left {
    border: 2px solid darkmagenta;
    border-width: 3px;
    margin: 10px auto;
    width: 285px;
    font-size: 1rem;
    max-height: 100px;
    display: flex;
    justify-content: space-evenly;
}

/* Commenting out board 2 related code
.item-b {
    display: flex;
}

.item-b>div {
    border: 1px solid black;
    width: 24px;
    height: 24px;
    background-color: blue;
    color: blue;
}
*/

/* Ships information */
#destroyer {
    height: 24px;
    width: 48px;
    background-color: black;
    display: none;
}

#submarine {
    height: 24px;
    width: 72px;
    background-color: rgb(0, 255, 195);
    display: none;
}

#cruiser {
    height: 24px;
    width: 72px;
    background-color: rgb(5, 128, 5);
    display: none;
}

#battleship {
    height: 24px;
    width: 96px;
    background-color: #5f5c5c;
    display: none;
}

#carrier {
    height: 24px;
    width: 120px;
    background-color: rgba(118, 3, 118, 0.957);
    display: none;
}