@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(197, 202, 201);
}

#logo {
    font-size: 4.7em;
    font-family: "Jacquard 12", system-ui;
}

h2 {
    padding-left: 30%;
}

.victory-board {
    border: 2px solid darkmagenta;
    border-width: 3px;
    margin: 10px auto;
    width: 285px;
    font-size: 1rem;
    max-height: 100px;
    display: flex;
    justify-content: space-evenly;
}

.game-board {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 10px);
    grid-template-rows: repeat(10, 10px);
    gap: 5px;

}


.grid-container>div {
    background-color: #ddd;
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-a {
    display: flex;
}

.item-a>div {
    border: 1px solid black;
    width: 24px;
    height: 24px;
    background-color: blue;
    color: blue;
}

.ships-left {
    border: 2px solid darkmagenta;
    border-width: 3px;
    margin: 10px auto;
    width: 285px;
    font-size: 1rem;
    max-height: 100px;
    display: flex;
    justify-content: space-evenly;
}

#destroyer {
    padding-bottom: 10px;
}

.item-b {
    display: flex;
}

.item-b>div {
    border: 1px solid blue;
    width: 24px;
    height: 24px;

}


/* .gameboard {
    background-color: rgb(205, 16, 16);
    display: grid;
    gap: 2px;
    padding: 10px 0;
    grid-template-areas: 24px;
    justify-content: space-evenly;
    height: 250px;
    width: 250px;
    align-content: space-between;
}


.gameboard>div {
    background-color: blue;
    padding: 10px 0;
    font-size: 20px;
    text-align: center;
} */